/* ScrollUp */

#scrollUp {
  background-color: $bg-default;
  border-radius: 0;
  bottom: 60px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.3);
  color: $white-color;
  font-size: 24px;
  height: 40px;
  line-height: 38px;
  right: 60px;
  text-align: center;
  width: 40px;
  border-radius: 6px;
  @include trans-duration(500ms);
  &:hover {
      background-color: $hover-color;
  }
  @media #{$breakpoint-xs} {
      bottom: 30px;
      right: 30px;
  }
}
