<section >
  <div class="box">
    <h2>Donner des vetements</h2>
    <form action="">
      <div class="inputBox">
          <input type="text" class="" id=""  required>
          <label for="" class="">Nom</label>

      </div>
      <div class="inputBox">

          <input type="text" class="" id="" required>
          <label for="" class="">Prénom</label>

      </div>
      <div class="inputBox">
              <input type="number" class="" id=""  required>
              <label for="" class="">Numéro de téléphone </label>

            </div>
            <div class="inputBox">
              <textarea class="" id=""  required></textarea>
              <label class="">Description</label>

          </div>

      <input type="submit" value="Confirmer">
    </form>
  </div>
</section>
