<img class="wave" src="/assets/images/wave.png">
<div class="container">
  <div class="img">
    <img src="/assets/images/bg.svg">
  </div>
  <div class="login-content">
    <form action="index.html">

             <div class="input-div pass">
                <div class="i">
                  <i class="fas fa-user"></i>
                </div>
                <div class="div">
                  <h5>Prénom</h5>
                  <input type="text" name="firstname" [(ngModel)] ="registerUserData.firstname" class="input">
              </div>
             </div>
             <div class="input-div pass">
                <div class="i">
                  <i class="fas fa-user"></i>
                </div>
                <div class="div">
                  <h5>Nom</h5>
                  <input type="text" name="lastname" [(ngModel)] ="registerUserData.lastname"class="input">
              </div>
             </div>
             <div class="input-div one">
                <div class="i">
                    <i class="far fa-envelope"></i>
                </div>
                <div class="div">
                    <h5>E-mail</h5>
                    <input type="email"  name="email" [(ngModel)] ="registerUserData.email"  class="input">
                </div>
             </div>
             <div class="input-div pass">
                <div class="i">
                   <i class="fas fa-lock"></i>
                </div>
                <div class="div">
                   <h5>Mot de passe</h5>
                   <input type="password" name="password" [(ngModel)] ="registerUserData.password"  class="input">
               </div>

            </div>
            <div class="input-div pass">
                <div class="i">
                    <i class="fas fa-phone"></i>
                </div>
                <div class="div">
                   <h5>Numéro téléphone</h5>
                   <input type="number" name="number" [(ngModel)] ="registerUserData.number"  class="input">
               </div>
            </div>


            <input type="submit" (click)="registerUser()" class="btn" value="S'inscrire">
            <br>
            <p>Déjà inscrit ?
                <a   routerLink="/login">Connectez-vous ici !</a>
            </p>
          </form>
      </div>
  </div>
