<section class="sec1">
  <div class="content">
    <h1>
      "Le meilleur des dons est celui qui se fait sans demande"
    </h1>
  </div>
</section>


<section class="cat">
    <div class="container">
      <div class="card">
        <div class="face face1">
          <div class="content">
            <img src="/assets/images/books.png" alt="">
            <h3>Don des livres</h3>
          </div>
        </div>
        <div class="face face2">
            <div class="content">
              <p>N'hésitez pas d'aider les gens qui n'ont pas le budget nécessaire pour fournir des livres à leurs enfants</p>
              <a type="button" (click)="sendMeDonneLivre()">Donner maintenant</a>
            </div>
        </div>
      </div>
    </div>

    <div class="container">
        <div class="card">
          <div class="face face1">
            <div class="content">
              <img src="/assets/images/bed.png" alt="">
              <h3>Don des meubles</h3>
            </div>
          </div>
          <div class="face face2">
              <div class="content">
                <p>
                  De nombreuses raisons peuvent vous pousser à vous séparer de certains de vos meubles le cas d’un lit de bébé,
                  il y a d'autres qui en besoin n'hésitez pas de les aider!
                </p>
                <a type="button" (click)="sendMeDonneMeuble()">Donner maintenant</a>
              </div>
          </div>
        </div>
      </div>

      <div class="container">
          <div class="card">
            <div class="face face1">
              <div class="content">
                <img src="/assets/images/clothes.png" alt="">
                <h3>Don des vêtements</h3>
              </div>
            </div>
            <div class="face face2">
                <div class="content">
                  <p>
                    Chaussures ou vêtements trop petits, démodés, assez vus ? Vous ne les portez plus ? Ne les laissez pas s’entasser dans vos armoires et surtout ne les jetez pas à la poubelle !
                    Ils peuvent être la joie des autres!
                  </p>
                  <a type="button" (click)="sendMeDonneVetement()">Donner maintenant</a>
                </div>
            </div>
          </div>
        </div>

        <a  class="but"type="button" (click)="sendMeCategories()">Voir d'autres</a>

</section>




