 <!--Navbar-->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
    <div class="container">
      <a class="navbar-brand" href="#">
        <strong>AIDE</strong>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-7"
        aria-controls="navbarSupportedContent-7" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent-7">
        <ul class="navbar-nav mr-auto w-100 justify-content-end">
          <li class="nav-item">
            <a class="nav-link"type="button" (click)="sendMeHome()">Acceuil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" type="button" (click)="sendMeCategories()">Catégorie</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/Donner">Donner</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/listeDons">Chercher un don</a>
          </li>

          <li class="nav-item">
            <a class="nav-link"  type="button" (click)="sendMeAssociations()">Associations</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  type="button" (click)="sendMeContact()">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>









