<img class="wave" src="/assets/images/wave.png">
<div class="container">
  <div class="img">
    <img src="/assets/images/bg.svg">
  </div>
  <div class="login-content">
    <form action="index.html">
      <img src="/assets/images/avatar.svg">
      <h2 class="title">Bienvenu</h2>
             <div class="input-div one">
                <div class="i">
                    <i class="fas fa-at"></i>
                </div>
                <div class="div">
                    <h5>E-mail</h5>
                    <input type="email" name="email" [(ngModel)] ="loginUserData.email" class="input">
                </div>
             </div>
             <div class="input-div pass">
                <div class="i">
                   <i class="fas fa-lock"></i>
                </div>
                <div class="div">
                   <h5>Mot de passe</h5>
                   <input type="password" name="password" [(ngModel)] ="loginUserData.password" class="input">
               </div>
            </div>
            <a href="#">Mot de passe oublié ?</a>

            <input type="submit" (click)="loginUser()" class="btn" value="Login">
            <br>
            <p>Pas encore de compte ?
                <a   routerLink="/registre">Inscrivez-vous ici !</a>
            </p>
          </form>
      </div>
  </div>


